<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website Station System</title>

    <script type="text/javascript" charset="utf-8" src="./lib/react/react.js"></script>
    <script type="text/javascript" charset="utf-8" src="./lib/react/react-dom.js"></script>

    <script type="text/javascript" charset="utf-8" src="./lib/mind/index.js"></script>
    <link type="text/css" rel="stylesheet" href="./lib/mind/index.css">


    <link type="text/css" rel="stylesheet" href="./index.css<%=version%>">
    <script type="text/javascript" charset="utf-8" src="./index.js<%=version%>"></script>
</head>

<body>
</body>

</html>